<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>moekyun link shortener</title>
    <meta name="description" content="Make your links more moe moe kyun!">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">
</head>
<body>
    <section id="about">
        <h2>welcome to moekyun.me!</h2>
            <p>this is sort of the place for some stuff I'm hosting on my "homelab"</p>
            <ul>
            <li><a href="https://mk.moekyun.me">misskey</a> - a federated social microblogging platform</li>
            <li><a href="/misskey/tos">misskey TOS</a> - obligatory tos for the misskey instance</li>
            <li><a href="https://git.pinapelz.moe">gitea</a> - a self-hosted git service</li>
            </ul>
            <br>
            <p>there's actually a few other services.</p>
            <p>if I've given you access then you can sign in through the SSO</p><a href="https://mk.moekyun.me/yunohost/sso/">TAKE ME TO THE SSO!</a>
            <br>
            <p>thanks for visiting though! why not shorten a link while you're here ---></p>
            <p>you'll get a super cool moekyun.me url</p>
    </section>
    <div class="container">
        <img src="{{moe_image_url}}" alt="Moe" class="moe-image">
        <h1>moekyun.me</h1>
        <h2>{{moe_quote}}</h2>
        <button type="button" id="custom-button">Custom URL</button>
        <form id="shorten-form">
            <input type="text" id="shorten-input" placeholder="a very long an un-moe URL">
            <button type="submit" id="shorten-button">Shorten</button>
        </form>

        <div id="shorten-result">
            <p id="shorten-link"><a id="shortened-url" target="_blank"></a></p>
        </div>
    </div>

    <div id="custom-popup" class="popup">
        <div class="popup-content">
            <h2>Custom URL</h2>
            <p>moekyun.me/ <input type="text" id="custom-url-input" placeholder="my_oshi"> </p> 
            <input type="text" id="custom-redirect-input" placeholder="Another very very very very long URL">
            <input type="text" id="authentication-input" placeholder="Authentication Key">
            <button type="button" id="cancel-button">Cancel</button>
            <button type="button" id="save-button">Submit</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
